{{ define "main" }}
    {{ if .Params.superseded_by }}
        <strong>This document has been deprecated, it is superseded by <a href="../{{.Params.superseded_by }}">DRACC {{.Params.superseded_by }}</a>.</strong>
    {{ end }}

    <dl class="field-list simple">
        <dt>Title</dt>
        <dd>{{ .Title }}</dt>

        <dt>DRACC</dt>
        <dd>{{ .File.BaseFileName }}</dd>

        {{ if .Params.aliases }}
            <dt>Aliases</dt>
            <dd>{{ .Params.aliases }}</dd>
        {{ end }}

        <dt>Category</dt>
        <dd>{{ .Params.category }}</dd>

        <dt>Scope</dt>
        <dd>{{ .Params.scope }}</dd>

        <dt>Authors</dt>
        <dd>{{ .Params.authors }}</dd>

        <dt>Date</dt>
        <dd>{{ .Params.date }}</dt>

        <dt>Copyright</dt>
        <dd>{{ .Params.copyright }}</dd>

        <dt>License</dt>
        <dd>Creative Commons Attribution 4.0 International</dd>
    </dl>

    {{ .Content }}
{{ end }}
