{{ define "title" }}
    {{ .Title }} <br>
    <span style="font-size: 0.5em;"><em>{{ .Params.subtitle }}</em></span>
{{ end }}

{{ define "main" }}
    <p style="margin-top: 30px;">
        <img src="/img/programmes/{{ .Params.image }}" alt="Background image for programme {{ .Title }}" width="400">
    </p>

    <p>
        <a href="{{ .Params.website }}">Website</a>
        <a href="{{ .Params.statutes }}">Statutes</a>
        <a href="{{ .Params.donations }}">Donations</a>
        <a href="{{ .Params.source }}">Source</a>
    </p>

    {{ .Content }}
{{ end }}
