.fieldlist {
    list-style-type: none;
    margin-left: 20%;
}

.bibliographic {
    font-weight: bold;
}

.bibliographicfielddata {
    text-align: right;
}

div.logo {
    float: right;
    width: 20%;
    clear: right;
}

img.portrait {
    float: right;
    width: 15%;
    border-radius: 50%;
    clear: right;
}

div.biography {
    float: right;
    width: 30%;
    border-radius: 50%;
    clear: right;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

ul,
ol {
    padding: 0.7rem 0.5rem;
}

blockquote {
    padding: 0 0.5rem;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer {
    margin-top: 10px;
}

.bg-train {
    background-image: url("/images/banner/train-dm.jpeg");
    background-color: transparent;
}

.bg-running {
    background-image: url("/img/bg/running.jpeg");
    background-color: transparent;
}

.bg-boardcircuit {
    background-image: url("/img/bg/boardcircuit.jpeg");
    background-size: cover;
}

.bg-circuitboard {
    background-image: url("/img/bg/circuitboard.jpeg");
    background-size: cover;
}

.bg-orange {
    background-color: #fb9400;
    background-image: url("/img/bg/bubbles.svg");
}

#low {
    margin-top: auto;
}

#logo {
    height: 100%;
}

.img-faq {
    width: 20%;
    float: right;
    margin: 5px;
}
