{{ define "main" }}
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child bg-circuitboard"><!-- Illustration tile 1 --></article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <p class="title">What we do</p>
                    <p class="subtitle">And why we do it</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child bg-boardcircuit"><!-- Illustration tile 3 --></article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical has-text-right">
                        <article class="tile is-child box">
                            <p class="title">We are a <a href="/about">foundation</a></p>
                            <p class="subtitle">But not an entirely normal one.</p>
                            <p class="content">Today, technology determines the course of society. Our not-for-profit
                                infrastructure helps to create and foster <a
                                    href="http://dracc.commonsconservancy.org/0001/">technology "commons"</a>. </p>
                        </article>
                        <article class="tile is-child notification is-success has-text-centered bg-orange" id="low">
                            <p class="title">Established in 2016</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box bg-running">
                            <p class="content has-text-centered"><a href="/how" class="button">How we work</a></p>
                            <p class="title"></p>
                            <p class="subtitle"></p>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">What we have to offer</p>
                        <p class="subtitle">A light-weight and flexible governance infrastructure</p>
                        <div class="content">
                            <p>We offer a simple solution that will allow many projects to not waste time and start
                                discovering what is out there in the world for them to achieve. You get a virtual
                                not-for-profit organisation to run the Programme, an infrastructure for decision making, and
                                through our <a href="/partners">partners</a> you will be able to receive tax-friendly
                                donations. </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="content">
                        <p class="title">Grow your project</p>
                        <p class="subtitle">Create a mature environment</p>
                        <p> Maybe you are considering starting a separate foundation. That has worked for many projects, and
                            will continue to do so in the future. If your project has very specific requirements, it may be
                            the best way to go. But not every project can afford the time and cost involved.</p>
                        <p> Having ones own full-blown legal entity solves some issues, but may create new ones. Such as
                            responsibilities which can become somewhat of a burden - like filing quarterly taxes, publishing
                            annual reports or obtaining charitable status to make donations more attractive.</p>
                        <p>For something given away without the intention to make money, the 'opportunity cost' in lost
                            hours that could be spent on the project can be pretty high. </p>
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box notification is-warning">
                    <div class="content">
                        <figure class="image is-4by3 is-fullwidth"><img src="/img/logo-white.svg"
                                style="width:90%"></figure>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-8">
                <article class="tile is-child box">
                    <p class="title">Solve what needs to be solved</p>
                    <p class="subtitle">Keep it simple</p>
                    <div class="content">
                        <p>[The Commons Conservancy] is the result of people questioning the need for having a separate
                            legal entity per project. It is designed as a shared legal infrastructure designed for
                            multitenancy, which can be reused by open source/free software projects at no cost. It is not a
                            panacea but aims to solve a number of issues people normally start foundations for pretty well -
                            and arguably in some cases does a better job. It is a very nimble and flexible solution,
                            allowing eligible projects to benefit without setup cost or a lot of arguing over details.</p>
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-vcentered">
                            <div class="column has-text-centered">
                                <h2 class="title is-1 strong">
                                    instant, free infrastructure for projects
                                </h2>
                                <p class="subtitle">
                                    a home for technology efforts in the public interest
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <section>
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <h4 class="center">Projects should outgrow creators</h4>
                            <p> Organisations that start free software/open source projects sometimes find themselves in a
                                position where they need to loosen their relationship with the project in order to allow it
                                to mature and to live up to its full potential.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <h4 class="center">Create room for involvement</h4>
                            <p>Valuable contributors from the outside may need to be able to get more responsibility. The
                                community may be asking for an open and trustworthy governance model for clearing and
                                assigning copyrights to be more future proof. </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <h4 class="center">Getting yourself organised</h4>
                            <p>
                                Others want to contribute in other ways — for instance by donating money. But to whom? What
                                about taxes?
                                Scaling up a project often means a lot of additional overhead, and several unknowns that
                                suck up time.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <section class="hero is-danger">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns is-vcentered">
                                    <div class="column has-text-centered">
                                        <p>If you are a creator, make sure your project is not hindered by lack of copyright
                                            transparency.</p>
                                        <h2 class="title is-1 strong">
                                            Governance matters
                                        </h2>
                                        <p class="subtitle">
                                            (but that doesn't mean you should waste time)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- insert -->
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child bg-circuitboard"><!-- Illustration tile 1 --></article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title">In it for the long haul</p>
                            <p class="subtitle">Copyright lasts 75 years or more...</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child bg-boardcircuit"><!-- Illustration tile 3 --></article>
                    </div>
                </div>
                <!-- insert -->

                <div class="row">
                    <section>
                        <div class="tile is-ancestor is-12">
                            <div class="tile is-parent">
                                <article class="tile is-child">
                                    <p>
                                        Unlike other organisations you may have looked at, we
                                        do not handle money directly. We believe that this makes things a lot easier and
                                        safer. You
                                        can of course receive donations, but this is handled
                                        through <a href="/partners">a specialised and established charity</a>.
                                    </p>
                                </article>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child has-text-centered">
                                    <p>
                                        How many foundations created this year will be around in
                                        twenty years from now? What will happen to their assets? We
                                        aim to stick around, and because of our unique <a href="/about">model</a> — we
                                        can.
                                    </p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child">
                                    <p>
                                        Our (entirely <a href="https://dracc.commonsconservancy.org/0000">forkable</a>!) <a
                                            href="/about">framework</a> will offer you some
                                        pragmatic and novel solutions when your community would end
                                        up in technical or other disagreements. The choice of
                                        course remains yours.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="row">
                    <section class="hero is-success">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns is-vcentered">
                                    <div class="column has-text-centered">
                                        <h2 class="title is-1 strong">
                                            Some of our projects
                                        </h2>
                                        <p class="subtitle"> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="row">
                    <section>
                        <div class="card column is-one-third is-pulled-left">
                            <div class="card-image">
                                <a name="FileSender" href="/programmes/filesender">
                                    <figure class="image is-4by3 is-256x256"><img src="/img/programmes/filesender.jpeg"
                                            alt="Photo of an old mailbox that says Send Someone a Love Letter"></figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><a href="/programmes/filesender">FileSender</a></p>
                                        <p class="subtitle is-6">Simple &amp; Secure Large File Transfer</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>FileSender is a (self-)hosted service that allows people to
                                        securely share large files with anyone. It works through your
                                        web browser and you can send a file to anyone with a mail address.
                                        FileSender was originally created with the needs of scientists and
                                        researchers in mind, which means that it scale to extreme file sizes.
                                    </p>
                                    <p>Private instances of FileSender are currently in use by many nation
                                        research networks and scientific institutes across the world.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Another project card -->
                        <div class="card column is-one-third is-pulled-left">
                            <div class="card-image">
                                <a name="RedWax" href="/programmes/redwax">
                                    <figure class="image is-4by3 is-256x256"><img src="/img/programmes/redwax.jpeg"
                                            alt="Image"></figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><a href="/programmes/redwax">RedWax</a></p>
                                        <p class="subtitle is-6">Modular security for the web</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>The Redwax Project provides a number of small and modular security
                                        tools to make it easy to build security services on the web. These
                                        can be combined to form various types of certificate authorities,
                                        issuing certificates with SPKAC and SCEP, servicing certificate
                                        revocation with CRLs and OCSP, and creating timestamps.</p>
                                    <p>The aim of the project is keep the security footprint and the number of dependencies
                                        as low as possible.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Another project card -->
                        <div class="card column is-one-third is-pulled-left">
                            <a name="EduVPN" href="/programmes/eduvpn">
                                <div class="card-image">
                                    <figure class="image is-4by3 is-256x256"><img src="/img/programmes/eduvpn.jpeg"
                                            alt="Image"></figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4"><a href="/programmes/eduvpn">eduVPN / Let's Connect</a></p>
                                            <p class="subtitle is-6">Safer connections for everyone</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p> Virtual Private Networks are an important class of technologies
                                            that enable secure and private use of networks (such as wifi hotspots)
                                            even in the common case where the trustworthiness of the network is hard
                                            to establish. The use of untrusted wifi networks is as common as it is
                                            risky, and without protection potentially exposes users to all kinds
                                            of attacks. However, setting up VPNs is traditionally a very
                                            cumbersome task. eduVPN is an effort to make VPN technology commonly
                                            available, by building better and more user-friendly tools. </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <p></p>
                    </section>
                </div>
            </section>
        </div>
    </div>
{{ end }}
